Web References/OnlineVacay/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Searchvacation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departing_Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departing_City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination_Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination_City" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Departure" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Return" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchvacationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchvacationResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCruise">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departing_Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departing_City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination_Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination_City" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Departure" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Return" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCruiseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCruiseResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departing_Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departing_City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination_Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination_City" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Departure" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Return" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchFlightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchFlightResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchvacationSoapIn">
    <wsdl:part name="parameters" element="tns:Searchvacation" />
  </wsdl:message>
  <wsdl:message name="SearchvacationSoapOut">
    <wsdl:part name="parameters" element="tns:SearchvacationResponse" />
  </wsdl:message>
  <wsdl:message name="SearchCruiseSoapIn">
    <wsdl:part name="parameters" element="tns:SearchCruise" />
  </wsdl:message>
  <wsdl:message name="SearchCruiseSoapOut">
    <wsdl:part name="parameters" element="tns:SearchCruiseResponse" />
  </wsdl:message>
  <wsdl:message name="SearchFlightSoapIn">
    <wsdl:part name="parameters" element="tns:SearchFlight" />
  </wsdl:message>
  <wsdl:message name="SearchFlightSoapOut">
    <wsdl:part name="parameters" element="tns:SearchFlightResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Searchvacation">
      <wsdl:input message="tns:SearchvacationSoapIn" />
      <wsdl:output message="tns:SearchvacationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCruise">
      <wsdl:input message="tns:SearchCruiseSoapIn" />
      <wsdl:output message="tns:SearchCruiseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchFlight">
      <wsdl:input message="tns:SearchFlightSoapIn" />
      <wsdl:output message="tns:SearchFlightSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Searchvacation">
      <soap:operation soapAction="http://tempuri.org/Searchvacation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCruise">
      <soap:operation soapAction="http://tempuri.org/SearchCruise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFlight">
      <soap:operation soapAction="http://tempuri.org/SearchFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Searchvacation">
      <soap12:operation soapAction="http://tempuri.org/Searchvacation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCruise">
      <soap12:operation soapAction="http://tempuri.org/SearchCruise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFlight">
      <soap12:operation soapAction="http://tempuri.org/SearchFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44323/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44323/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>